<form>  
<table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th scope="col">SupplierId</th>
        <th scope="col">Name</th>
        <th scope="col">Actions</th>        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of elements">      
    <td>{{list.supplierId}}</td>
        <td>{{list.name}}</td>
        <td><button routerLink='../edit/{{list.supplierId}}' class="btn btn-primary mb-2">Edit</button>&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary mb-2"(click)="delete(list.supplierId)" >delete</button></td>
      </tr>      
    </tbody>
  </table>
</form>